.verify-abort-text{
    position: absolute;
    width: 30%;
    height: 70%;
    top: 1vh;
    left: 23.4vw;
}
.container{
    position: absolute;
    left:32vw; 
    font-family: source-code-pro;
    color: 	#1c3bbf;
}
.login-logo{
    position: absolute;
    left: 1vw;
    width: 10%;
    top:1vh; 
    height: 10%;
}

.code{
    position: absolute;
    top:40vh; 
    font-size: 50px;
    left:43vw; 
    width:15%;

}
.verify-abort{
    position: absolute;
    width: 10%;
    height:10%;
    bottom: 5vh;
    left:55vw;
}

.verify-box{
    position: absolute;
    bottom:5vh; 
    left: 36vw;
    top:22vh;
    width: 30%;
    height: 50%; 
}
.verify-submit{
    position: absolute;
    left: 39vw;
    width: 10%;
    bottom:5vh; 
    height: 10%;
}


@font-face{
    font-family: 'source-code-pro';
    src:url(source-code-pro/SourceCodePro-Black.otf); 
}