.edit-box{
    position: absolute;
    width: 30%;
    height:80%;
    left:468px;
    top:20px; 
}
.edit-bottom-img{
    position: absolute;
    bottom:5px; 
    left: 500px;
    width: 25%;
    height: 13%;
}
.edit-delete-img{
    position: absolute;
    bottom:5px; 
    left: 100px;
    width: 25%;
    height: 13%;
}
.edit-change-password-img{
    position: absolute;
    bottom:5px; 
    right: 100px;
    width: 25%;
    height: 13%;
}
.login-logo{
    position: absolute;
    left: 20px;
    width: 10%;
    top:20px; 
    height: 10%;
}
.create-loginpage{
    position: absolute;
    right: 20px;
    width: 15%;
    top:20px; 
    height: 9%;
}
.username {
    position: absolute;
    left:30vw;
    top:15vh; 
    height:12%;
    font-family: source-code-pro;
    font-size: 50;
    width:24%;
    color:#808080
}
.fullname{
    position: absolute;
    left:30vw;
    top:35vh; 
    font-family: source-code-pro;
    font-size: 25;
    width:24%;
    height:12%;
    color:#808080
}
.email{
    position: absolute;
    left:30vw;
    top:55vh; 
    font-family: source-code-pro;
    font-size: 25;
    width:24%;
    height: 12%;
    color:#808080
}



@font-face{
    font-family: 'source-code-pro';
    src:url(source-code-pro/SourceCodePro-Black.otf); 
    color:#808080
}