.create-box{
    position: absolute;
    width: 30vw;
    height:80vh;
    left:33vw;
    top:10vh; 
}

.create-box-img{
    position: relative;
    width: 80%;
    height:80%;
    left: 10%;

}

.create-bottom-img{
    position: relative;
    height: 10vh;
    width: 15vw;
    left: 7vw;
    top: 3vh;
}
.login-logo{
    position: absolute;
    left: 20px;
    width: 10%;
    top:20px; 
    height: 10%;
}
.create-loginpage{
    position: absolute;
    right: 2vw;
    top:3vh; 
    width: 15vw;
    height: 9vh;
}

.username{
    position: absolute;
    top: 4%;
    left: 23%;
    height: 8%;
    width: 45%;
    font-family: source-code-pro;
    font-size: 25;
    color:#808080
}
.fullname{
    position: absolute;
    top: 18.5%;
    left: 23%;
    height: 8%;
    width: 45%;
    font-family: source-code-pro;
    font-size: 25;
    color:#808080
}
.email{
    position: absolute;
    top: 33%;
    left: 23%;
    height: 8%;
    width: 45%;
    font-family: source-code-pro;
    font-size: 25;
    color:#808080
}
.phone{
    position: absolute;
    top: 48.5%;
    left: 23%;
    height: 8%;
    width: 45%;
    font-family: source-code-pro;
    font-size: 25;
    color:#808080
}
.password{
    position: absolute;
    top: 63.5%;
    left: 23%;
    height: 8%;
    width: 45%;
    font-family: source-code-pro;
    font-size: 25;
    color:#808080
}

@font-face{
    font-family: 'source-code-pro';
    src:url(source-code-pro/SourceCodePro-Black.otf); 
    color:#808080
}