<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485 </title>
        <style>
            .profile{
                width: 50px;
                height: 50px;
                border: 2px black;
                margin-left: auto;
                margin-right: auto;
                float: left;
                
            }
        </style>
    </head>

    <body>
        <header> <!--this will be the top division-->
            <p>
               <a href="/"> </a> 
              flights
            </p>
     
         </header>
         <h1 style="margin-left:200px; margin-top:100px;"> Edit </h1>
         <hr>

        <img src="/uploads/{{ filename }}" alt="profile_picutre" class="profile_picture">
        <p>{{username}}</p>
    

        <form action="{{   url_for('accounts',target = '/newflight/'  )    }}"
        method="post" enctype="multipart/form-data">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to edit your account.</p>
      <hr>

      <label for="Avatar"><b>Give us your Avatar!</b></label>
      <input type="file" placeholder="Upload Avatar" name="file" required>
  
      <label for="Fullname"><b>Fullname</b></label>
      <input type="text" placeholder="Enter Fullname" name="fullname" required>
  
      <label for="Username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="Email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>


      <input type="hidden" name="operation" value="edit_account">  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Edit Account</button>
      </div>
    </div>
  </form>
         <br>
         <a href = "/accounts/password/"> Change password</a>
         <a href = "/accounts/delete/"> Delete Account</a>
    </body>