<!DOCTYPE html>
<html lang="en">
    
        
    <head>
        <title>crispyjourney.com</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename = 'style-index.css') }}">
    </head>
    
    <img src = "/uploads/login-logo.png" class = "login-logo">

    <body>
        <form action= "{{url_for('logout') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="logout" value="Logout" />
            <input type="image" src="/uploads/index-logout.png" class="logout-logo" alt="Submit" />
        </form>

         <a href = '/newflight/'><img src = "/uploads/index-add-flight.png" class="add-logo"></a>
          <a href = '/accounts/edit/' > <img src = "/uploads/index-edit.png" class="edit-logo"></a>
         <!--<div class="trip-div">
             <div class="trip-left-image" style="background-image: url(/uploads/goa.jpeg); background-repeat: no-repeat;background-size:cover;"></div>
             <div class="trip-right-image" style="background-image: url(/uploads/london_2.jpeg);background-repeat: no-repeat;background-size:cover;"></div>
             <img src="/uploads/index-main-bar.png" class = "yellow-box">
             <img src="/uploads/index-bar.png" class = "green-box">
             <div class="to_from_box">  <pre>LONDON                       to                       SF</pre></div>
             <div class="to_from_box_2"><pre>                        noVEMER 20221                   </pre></div>
             <a href = '/accounts/edit/'><img src = "/uploads/index-add-flight.png" class="edit-second"></a>
             <a href = '/accounts/edit/'><img src = "/uploads/index-delete.png" class="delete"></a>
             <div class="price">100$</div>
             <div class="result">result$</div>
         </div>-->
         {% for flight in flighty %} 
         <div style="margin-top: 30px;"></div>
         <div class="trip-div">
            <div class="trip-left-image" style="background-image: url({{flight.image0}}); background-repeat: no-repeat;background-size:cover;"></div>
            <div class="trip-right-image" style="background-image: url({{flight.image1}});background-repeat: no-repeat;background-size:cover;"></div>
            <img src="/uploads/index-main-bar.png" class = "yellow-box">
            <img src="/uploads/index-bar.png" class = "green-box">
            <p class="start">{{ flight.start }}</p>
            <p class="end">{{flight.end}}</p>
            <p class="to_box">to</p>
            <p class="date_box">{{flight.month}}</p> 
            <!--<a href = '/accounts/edit/'><img src = "/uploads/index-add-flight.png" class="edit-second"></a>-->
            <form action="{{   url_for('delete',target='/' )    }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="delete" value="delete"/>
                <input type="hidden" name="tripid" value="{{ flight.tripid }}"/>
                <input type="hidden" name="operation" value="delete" />
                <input type="image" src="/uploads/index-delete.png" class="delete" alt="Submit" />
            </form>
            {% if flight.price !=-1 %}

            <div class="price">{{ flight.price}} $</div>

            {% if flight.less_than %}
                <div class="result">We got a deal!</div>
            {% else %} 
                <div class="result">result</div>
            {% endif %} 

            {% else %}
            <div class="price">No flights Found :(</div>
         {%endif %}
         </div>
        {% endfor %}
        <div style="margin-top: 110px;"></div>
        <img src = "/uploads/index-navbar.png" class ="login-navbar" >
    </body>