<!DOCTYPE html>
<html lang="en">
    <head>
        <title>crispyjourney.com </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style-password.css') }}">
        <style>
            .profile{
                width: 50px;
                height: 50px;
                border: 2px black;
                margin-left: auto;
                margin-right: auto;
                float: left;
                
            }
        </style>
    </head>

    <body>
        <img src="/uploads/newflight-logo.png" class="newflight-logo">

        <a href="/"><img src="/uploads/password-button1.png" class="my-flights-button"></a> 
        
        <img src="/uploads/password-scheck.png" class="security-check">

        <hr>

        <div class="password-box">
            <img src="/uploads/password-box.png" class="password-box-img">
            <form action="{{   url_for('accounts', target = '/accounts/edit/')  }}" method="post" enctype="multipart/form-data">
                <input type="password" placeholder="org-password" class="org-password" name="password" required/>
                <input type="password" placeholder="new-password" class="new-password" name="new_password1" required/>
                <input type="password" placeholder="re-enter new" class="re-enter-new" name="new_password2" required/>
                <input type="submit" name="update_password" value="submit"/>
                <input type="hidden" name="operation" value="update_password"/>
            </form>
        </div>
            
        
        <br>

        <div class="sample-class">
            <img src="/uploads/newflight-navbar.png" class="password-navbar">
        </div>
    </body>