<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485 </title>
        <style>
            .profile{
                width: 50px;
                height: 50px;
                border: 2px black;
                margin-left: auto;
                margin-right: auto;
                float: left;
                
            }
        </style>
    </head>

    <body>
        <header> <!--this will be the top division-->
            <p>
               <a href="/"> </a> 
              flights
            </p>
         </header>
         <h1 style="margin-left:200px; margin-top:100px;"> Edit Password </h1>
         <div style="text-align: right"><a href="/">My Flights</a></div>
         <hr>
         <form action="{{   url_for('accounts', target = '/accounts/edit/')  }}" method="post" enctype="multipart/form-data">
            <input type="password" name="password" required/>
            <input type="password" name="new_password1" required/>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
          </form>
       
         <br>
    </body>